header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 14px 20px 0px 20px;
}

.MuiSwitch-track {
    background-color: red;
}

#rightIconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 140px;
}