.App {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 100%;
}

.test {

  background-color: #7ba6c9;
}

.App-header {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}